In [15]:
import pandas as pd

# Reading Data

In [16]:
df = pd.read_csv('Data1.csv')

In [17]:
df.tail()

           Fever  Bodypain  Age  Runnynose  DifBreathe  InfectionProb
1999   99.808846         0   34          0           1              1
2000  101.279158         1    4          0           1              0
2001  101.851051         0   15          1           1              0
2002   98.971222         0   54          0          -1              1
2003   98.853978         1   30          1          -1              1

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2004 entries, 0 to 2003
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fever          2004 non-null   float64
 1   Bodypain       2004 non-null   int64
 2   Age            2004 non-null   int64
 3   Runnynose      2004 non-null   int64
 4   DifBreathe     2004 non-null   int64
 5   InfectionProb  2004 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 94.1 KB

In [19]:
df['DifBreathe'].value_counts()

-1    694
 0    659
 1    651
Name: DifBreathe, dtype: int64

In [20]:
df.describe()

,Fever,Bodypain,Age,Runnynose,DifBreathe,InfectionProb
count,2004.000000,2004.000000,2004.000000,2004.000000,2004.000000,2004.000000
mean,100.004221,0.488523,34.980040,0.508982,-0.021457,0.509980
std,1.137924,0.499993,20.306528,0.500044,0.819166,0.500025
min,98.000388,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.047649,0.000000,17.000000,0.000000,-1.000000,0.000000
50%,100.018963,0.000000,35.000000,1.000000,0.000000,1.000000
75%,100.967026,1.000000,53.000000,1.000000,1.000000,1.000000
max,101.997524,1.000000,70.000000,1.000000,1.000000,1.000000

# Train Test Splitting

In [21]:
import numpy as np

In [22]:
def data_split(data1 , ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data1))
    test_size = int(len(data1) * ratio)
    train_indecies = shuffled[:test_size]
    train_test = shuffled[test_size:]
    return data1.iloc[train_test] ,data1.iloc[train_indecies]

In [23]:
np.random.permutation(7)

array([0, 3, 4, 5, 1, 2, 6])

In [24]:
train, test = data_split(df , 0.2)

In [25]:
train

           Fever  Bodypain  Age  Runnynose  DifBreathe  InfectionProb
261    99.567435         1   15          1          -1              1
1239  100.401645         0   20          0           0              1
1255  100.369962         1   58          0           0              1
240    98.038572         0   50          1           1              1
944   100.507680         1   26          1           1              0
...          ...       ...  ...        ...         ...            ...
1130  101.381044         1   31          1           0              0
1294  101.042050         1   20          1           0              1
860   101.263652         0   56          0           1              0
1459   98.245087         0    3          0           0              1
1126  100.928273         1   52          0           1              1

[1604 rows x 6 columns]

In [26]:
test

           Fever  Bodypain  Age  Runnynose  DifBreathe  InfectionProb
585    98.971501         0   14          1           1              0
1284   99.220737         0   70          0           0              1
1851  101.455573         0   34          1           0              1
495    98.283728         0   33          1          -1              0
1901  100.285236         1   26          1           1              0
...          ...       ...  ...        ...         ...            ...
1662  100.304416         1   50          0           1              0
535    99.907398         1   68          1          -1              1
1553  101.628124         0   66          0          -1              0
979    99.816546         1   69          0           0              0
915    99.653520         1    9          1           1              0

[400 rows x 6 columns]

In [27]:
x_train =train[['Fever','Bodypain','Age','Runnynose','DifBreathe']].to_numpy()
x_test =test[['Fever','Bodypain','Age','Runnynose','DifBreathe']].to_numpy()

In [28]:
y_train =train[['InfectionProb']].to_numpy().reshape(1604,)
y_test =test[['InfectionProb']].to_numpy().reshape(400,)

In [29]:
y_train

array([1, 1, 1, ..., 0, 1, 1], dtype=int64)

###

# algorithm

In [30]:
from sklearn.linear_model import LogisticRegression

In [31]:
clf = LogisticRegression(solver='lbfgs')
clf.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [32]:
clf.predict([[90,1,23,1,0]])

array([0], dtype=int64)

In [33]:
infoprob = clf.predict_proba([[90,1,23,0,0]])[0][1]

In [34]:
infoprob

0.5221435160409305